doctype html
html(lang="zh-Hant-TW")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title My gulpfile demo
    link(rel="stylesheet" href="css/main.css")

  body

    include _partials/header.pug
    include _partials/nav.pug

    h1 Hello World!!!!!!!
    h2 Testing ES6 + Babel
    p Name: <span id="nameSpan"></span>

    figure.picture: img(src="images/3O51V5Q49Q.jpg")
    p This gulp demo
    p use ES6 kjkjjksjdkjdk


    include _partials/footer.pug
    script(src="js/app.js")
